<launch>

    <node pkg="mpc_diff" name="traj_server" type="traj_server" output="screen">
<!--         <remap from="/state_estimation" to="/odom"/> -->
        <param name="/v_max" value="1.5"/>
        <param name="/w_max" value="2.5"/>
        <param name="/omega0" value="5.0"/>
        <param name="/omega1" value="0.1"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

    <include file="$(find mpc_diff)/launch/rviz.launch"/>

    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"/>

</launch>
